NODE_ENV=local

UPLOAD_DIRECTORY_PATH="./uploads"

PG_HOST="localhost:5432"
PG_DATABASE=deep_cord
PG_USER=postgres
PG_PASSWORD=password

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
